header {
  background-color: $color-primary;
  padding: $padding + 45;
  margin: 0 - $margin - 20 0 - $margin $margin 0 - $margin;
  @media (max-width: 700px) {
    padding: $padding + 15;
    margin: $margin 0 - $margin $margin 0 - $margin;
  }
  h1, h2, h4, p {
    color: #fff;
    margin: 0;
  }
}

.dark-theme {
  header {
    background-color: #242424;
    color: #fff;
  }
}