.wrapper-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-primary;
  color: #fff;
  h1 {
    font-size: 200px;
    line-height: 150px;
    font-weight: bold;
  }
  p {
    font-size: 17px;
  }
}