app-toolbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $toolbar-height;
  background-color: $toolbar-color-bg;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  .toolbar__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-weight: 500;
    padding: 10px;
  }
  app-toolbar-menu {
    display: block;
    height: inherit;
    ul {
      display: flex;
      height: inherit;
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        height: inherit;
        a {
          display: block;
          height: inherit;
          color: #fff;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;
          padding: 18px 15px;
          &:hover, &.active {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
  app-toolbar-lang {
    display: block;
    height: inherit;
    .toolbar-lang-setting {
      position: absolute;
      top: 0;
      right: 0;
      width: 83px;
      height: inherit;
      .toolbar-lang-setting__button {
        cursor: pointer;
        height: inherit;
        color: #fff;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 17px;
        padding-left: 17px;
        transition: all .3s ease;
        &:hover {
          background-color: #2c6ab7;
        }
      }
      .toolbar-lang-setting__menu {
        display: none;
        position: absolute;
        right: 10px;
        min-width: 160px;
        background-color: #fff;
        border-radius: 1px;
        font-size: 16px;
        text-align: left;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        padding: 5px 0;
        margin: 0;
        z-index: 1000;
        &.toolbar-lang-setting__menu_show {
          display: block;
        }
        .toolbar-lang-setting__menu_header {
          color: $color-primary;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          font-weight: 500;
          padding: 5px 5px 10px 15px;
          margin-bottom: 5px;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li > a {
            cursor: pointer;
            display: block;
            color: #262626;
            line-height: 1.5;
            white-space: nowrap;
            text-decoration: none;
            padding: 4px 15px 10px 15px;
            &:hover {
              text-decoration: none;
              background-color: #ececec;
            }
          }
        }
      }
    }
  }
}