$color-primary: #07c;

// Body
$body-color-bg: #eceeef;
$body-color-text: #444;

// Toolbar
$toolbar-height: 56px;
$toolbar-color-bg: #07c;

// Sidebar
$sidebar-width: 64px;

// Footer
$footer-height: 49px;