@import '~@angular/material/theming';

@include mat-core();

@import 'green-theme';
@import 'dark-theme';

.green-theme {
  @include angular-material-theme($app-theme);
}

.dark-theme {
  @include angular-material-theme($app-black-theme);
}

$candy-app-primary: mat-palette($mat-green, 800);
$candy-app-accent: mat-palette($mat-green, A200, A100, A400);
$candy-app-warn: mat-palette($mat-red, 700);
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);

.mat-card {
  margin-bottom: 15px;
}