<app-header>
    <section class="home-header-wrapper">
        <div class="home-image">
            <img src="assets/img/universal-logo.svg" alt="Angular Universal">
        </div>
        <div class="home-desc">
            <h1 class="">Angular Universal</h1>
            <h4 class="tagline">Server-side Rendering</h4>
            <a mat-raised-button [routerLink]="['/quickstart']">
                {{ 'HOME.BUTTON_GET_STARTED' | translate }}
            </a>
        </div>
    </section>
</app-header>

<mat-card>
    <ul>
        <li *ngFor="let feature of result?.features">
            {{ feature.properties.city }} -
            {{ feature.properties.label }} -
            {{ feature.properties.postcode }} -
            {{ feature.properties.type }}
        </li>
    </ul>
</mat-card>

<div class="home-wrapper">
    <button mat-raised-button color="primary">
        {{ 'HOME.BUTTON_GET_STARTED' | translate }}
    </button>
</div>
