.home-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 255px;
  @media (max-width: 950px) {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .home-image img {
    max-width: 480px;
    width: 100%;
  }
  .home-desc {
    margin-left: 20px;
    h1 {
      font-size: 35px;
    }
    a {
      color: #258102;
      text-transform: uppercase;
    }
  }
}

.home-wrapper {
  display: flex;
  justify-content: center;
}