.widget {
  display: block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
  .widget-toolbar {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
  }
  .widget-content {
    display: block;
    padding: 10px;
  }
}