<div class="toolbar-lang-setting" #langMenu>
    <div class="toolbar-lang-setting__button" (click)="onToggleLangMenu()">
        <mat-icon>public</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
    </div>
    <div class="toolbar-lang-setting__menu" [class.toolbar-lang-setting__menu_show]="isShowMenu">
        <div class="toolbar-lang-setting__menu_header">{{ 'LANG.LANG_WEB_SITE' | translate }}</div>
        <ul>
            <li *ngFor="let lang of langList$ | async">
                <a (click)="changeLang(lang)" [class.toolbar-lang-active]="lang.code === currentLang">
                    {{ lang.name }}
                </a>
            </li>
        </ul>
    </div>
</div>